<!-- Navigation -->
<header id="header" class="container clearfix">
    <a routerLink="/" id="logo">
        <img src="./assets/img/logo.png" alt="SmartStart">
    </a>
    <nav id="main-nav">
        <ul>
            <li class="current">
                <a class="nav-link" routerLink="moto" data-description="All starts here">Comparativa</a>
                <!-- <ul>
                    <li><a href="logos-slider.html">Logos Slider</a></li>
                    <li><a href="photos-slider.html">Photos Slider</a></li>
                </ul> -->
            </li>
            <!-- <li>
                <a class="nav-link" routerLink="user" data-description="All the different stuff">Usuario</a>
                <ul>
                    <li><a href="about-us.html">About Us</a></li>
                    <li><a href="our-team.html">Our Team</a>
                        <ul>
                            <li><a href="we-are-hiring.html">We are hiring</a></li>
                        </ul>
                    </li>
                    <li><a href="elements.html">Elements</a></li>
                    <li><a href="pricing-tables.html">Pricing Tables</a></li>
                    <li><a href="columns.html">Columns</a></li>
                    <li><a href="#">Third Level Item</a>
                        <ul>
                            <li><a href="#">This is a simple example</a></li>
                            <li><a href="#">Of the third level</a></li>
                            <li><a href="#">Navigation item</a></li>
                        </ul>
                    </li>
                </ul>
            </li> -->
            <li>
                <a class="nav-link" routerLink="blog" data-description="What we think">Blog</a>
                <ul>
                    <li>
                        <a routerLink="/blog/mine">Mis blogs</a>
                    </li>
                    <li>
                        <a routerLink="/blog/edit">Crear</a>
                    </li>
                </ul>
            </li>
            <div *ngIf="authorized;then logged else not_logged"></div>
            <ng-template #logged>
                <li>
                    <a class="nav-link" routerLink="blog" data-description="Sal con tus amigos">Rodadas</a>
                    <ul>
                        <li><a class="nav-link" routerLink="user">Mis rodadas</a></li>
                        <li><a class="nav-link" routerLink="user">Buscar acompañante</a></li>
                    </ul>
                </li>
                <li>
                    <a class="nav-link" routerLink="login">{{ user.name }}
                            <i><img class="icon-user" src="{{ user.image }}"></i>
                        </a>
                    <ul>
                        <li><a class="nav-link" routerLink="user">Usuario</a></li>
                        <li><a class="nav-link" routerLink="user">Mis motos</a></li>
                        <li><a class="nav-link" routerLink="user">Mis gastos</a></li>
                        <li><a class="nav-link" (click)="signOut()">Cerrar sesión</a></li>
                    </ul>
                </li>
            </ng-template>
            <ng-template #not_logged>
                <li>
                    <a class="nav-link" routerLink="login" data-description="Enquire here">Login</a>
                </li>
            </ng-template>
        </ul>
    </nav>
    <!-- end #main-nav -->
</header>