<!-- Start Header Area -->
<header class="header-area">
    <div class="container">
        <div class="main-menu">
            <div class="row">
                <div class="col-lg-3 d-flex align-items-center">
                    <div class="logo">
                        <a routerLink="/"><img src="./assets/img/logo/logo.png" alt="logo"></a>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="basic-menu f-right">
                        <nav id="mobile-menu">
                            <ul>
                                <li>
                                    <a routerLink="compare-moto">COMPARATIVA</a>
                                </li>
                                <li>
                                    <a routerLink="blog">BLOG <i class="icofont icofont-rounded-down"></i></a>
                                    <ul>
                                        <li>
                                            <a routerLink="/blog/mine">Mis blogs</a>
                                        </li>
                                        <li>
                                            <a routerLink="/blog/edit">Crear</a>
                                        </li>
                                    </ul>
                                </li>
                                <div *ngIf="authorized;then logged else not_logged"></div>
                                <ng-template #logged>
                                    <li>
                                        <a routerLink="rides">RODADAS <i class="icofont icofont-rounded-down"></i></a>
                                        <ul>
                                            <li><a routerLink="friends">Buscar acompañante</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a routerLink="user">{{ user.name }}
                                                <i><img class="icon-user" src="{{ user.image }}"></i>
                                            </a>
                                        <ul>
                                            <li><a routerLink="user">Mi perfil</a></li>
                                            <li><a routerLink="expenses">Mis gastos</a></li>
                                            <li><a (click)="signOut()">Cerrar sesión</a></li>
                                        </ul>
                                    </li>
                                </ng-template>
                                <ng-template #not_logged>
                                    <li>
                                        <a routerLink="login">Login</a>
                                    </li>
                                </ng-template>
                            </ul>
                        </nav>
                    </div>
                    <div class="mobile-menu"></div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- End Header Area -->


<!-- <header id="header" class="container clearfix">
    <a routerLink="/" id="logo">
        <img src="./assets/img/logo.png" alt="SmartStart">
    </a>
    <nav id="main-nav">
        <ul>
            <li class="current">
                <a class="nav-link" routerLink="compare-moto" data-description="All starts here">Comparativa</a>
            </li>
            <li>
                <a class="nav-link" routerLink="blog" data-description="What we think">Blog</a>
                <ul>
                    <li>
                        <a routerLink="/blog/mine">Mis blogs</a>
                    </li>
                    <li>
                        <a routerLink="/blog/edit">Crear</a>
                    </li>
                </ul>
            </li>
            <div *ngIf="authorized;then logged else not_logged"></div>
            <ng-template #logged>
                <li>
                    <a class="nav-link" routerLink="rides" data-description="Sal con tus amigos">Rodadas</a>
                    <ul>
                        <li><a class="nav-link" routerLink="friends">Buscar acompañante</a></li>
                    </ul>
                </li>
                <li>
                    <a class="nav-link" routerLink="user" data-description="Mi perfil">{{ user.name }}
                            <i><img class="icon-user" src="{{ user.image }}"></i>
                        </a>
                    <ul>
                        <li><a class="nav-link" routerLink="compare-moto">Mis motos</a></li>
                        <li><a class="nav-link" routerLink="expenses">Mis gastos</a></li>
                        <li><a class="nav-link" (click)="signOut()">Cerrar sesión</a></li>
                    </ul>
                </li>
            </ng-template>
            <ng-template #not_logged>
                <li>
                    <a class="nav-link" routerLink="login" data-description="Enquire here">Login</a>
                </li>
            </ng-template>
        </ul>
    </nav>
</header> -->