<div class="container">
    <h1>Usuario</h1>
    <form #UserForm="ngForm" (ngSubmit)="save()">
      <div class="form-group">
        <label for="name">Email</label>
        <input [(ngModel)]="model.summary" name="email" type="text" class="form-control" #name="ngModel" id="name" required>
      </div>
  
      <div class="form-group">

          <label for="name">Content</label>
          <md-editor name="Content" [preRender]="preRenderFunc" [(ngModel)]="model.text" [height]="'200px'" [mode]="mode" [options]="options" maxlength="500"></md-editor>
        </div>
  
      <button [disabled]="!UserForm.form.valid" class="btn btn-success">Submit</button>
    </form>
  </div>
