<h1 class="my-4">Page Heading
    <small>Secondary Text</small>
</h1>

<div class="card mb-4" *ngFor="let blog of blogs">
    <div class="card-footer text-muted">
        {{blog.datePosted}} by
        <a [routerLink]="['/blog', blog.id]" >{{blog.author}}</a>
    </div>

    <img class="card-img-top" src="{{blog.img}}" alt="Card image cap">
    <div class="card-body">
        <h2 class="card-title">{{blog.title}}</h2>
        <p class="card-text">{{blog.text}}</p>
    </div>
</div>

<app-control-pagination></app-control-pagination>