<div class="row">
  <div class="col-md-4">
    <ul class="list-group">
      <a href="#" class="list-group-item active">
        Marcas
      </a>
      <a *ngFor="let brand of brands" (click)="getModels(brand)" class="list-group-item">
        {{brand}}
      </a>
    </ul>
  </div>

  <div class="col-md-4">
    <ul class="list-group">
      <a class="list-group-item active">
        Modelos
      </a>

      <div *ngIf="models == null; then modelShowMore else modelInfo"></div>

      <ng-template #modelShowMore>
        Seleccion marca y modelo para continuar
      </ng-template>

      <ng-template #modelInfo>
        <a *ngFor="let model of models" (click)="getMoto(model.id)" class="list-group-item">
          {{model.model}}
        </a>
      </ng-template>
    </ul>
  </div>

  <div class="col-md-4">
    <ul class="list-group">
      <a class="list-group-item active">
        Informacion
      </a>

      <div *ngIf="moto == null; then motoShowMore else motoInfo"></div>

      <ng-template #motoShowMore>
        Seleccion marca y modelo para continuar
      </ng-template>

      <ng-template #motoInfo>
        <a class="list-group-item"> {{moto.fabricante}} </a>
        <a class="list-group-item"> {{moto.modelo}} </a>
        <a class="list-group-item"> {{moto.arranque}} </a>
        <a class="list-group-item"> {{moto.distanciaTotal}} </a>
        
      </ng-template>
    </ul>
  </div>
</div>