<div class="container">
    <div class="row">
        <div class="col-md-4">
            <ul class="list-group">
                <a href="#" class="book-now-title">
        Marcas
      </a>
                <a *ngFor="let brand of brands" (click)="getModels(brand)" class="list-group-item">
        {{brand}}
      </a>
            </ul>
        </div>

        <div class="col-md-4">
            <ul class="list-group">
                <a class="book-now-title">
        Modelos
      </a>

                <div *ngIf="models == null; then modelShowMore else modelInfo"></div>

                <ng-template #modelShowMore>
                    Seleccion marca y modelo para continuar
                </ng-template>

                <ng-template #modelInfo>
                    <a *ngFor="let model of models" (click)="getMoto(model.id)" class="list-group-item">
          {{model.model}}
        </a>
                </ng-template>
            </ul>
        </div>

        <div class="col-md-4">
            <ul class="list-group">
                <a class="book-now-title">
        Informacion
      </a>

                <div *ngIf="moto == null; then motoShowMore else motoInfo"></div>

                <ng-template #motoShowMore>
                    Seleccion marca y modelo para continuar
                </ng-template>

                <ng-template #motoInfo>
                    <a class="list-group-item">Alimentación: {{moto.alimentacion}} </a>
                    <a class="list-group-item">Altura asiento: {{moto.alturaAsiento}} </a>
                    <a class="list-group-item">Altura total: {{moto.alturaTotal}} </a>
                    <a class="list-group-item">Anchura máxima: {{moto.anchuraMaxima}} </a>
                    <a class="list-group-item">Anclaje pinza: {{moto.anclajePinza}} </a>
                    <a class="list-group-item">Angulo lanzamiento: {{moto.anguloLanzamiento}} </a>
                    <a class="list-group-item">Arranque: {{moto.arranque}} </a>
                    <a class="list-group-item">Avance: {{moto.avance}} </a>
                    <a class="list-group-item">Basculante: {{moto.basculante}} </a>
                    <a class="list-group-item">Cambio: {{moto.cambio}} </a>
                    <a class="list-group-item">{{moto.capacidadDeposito}} </a>
                    <a class="list-group-item">Chasis: {{moto.chasis}} </a>
                    <a class="list-group-item">Ciclos: {{moto.ciclos}} </a>
                    <a class="list-group-item">Cilindrada: {{moto.cilindrada}} </a>
                    <a class="list-group-item">Cilindros: {{moto.cilindros}} </a>
                    <a class="list-group-item">Configuración: {{moto.configuracion}} </a>
                    <a class="list-group-item">Diametro de barras: {{moto.diametroBarras}} </a>
                    <a class="list-group-item">Diametro de carrera: {{moto.diametroCarrera}} </a>
                    <a class="list-group-item">Distacia entre ejes: {{moto.distanciaEjes}} </a>
                    <a class="list-group-item">Distancia total: {{moto.distanciaTotal}} </a>
                    <a class="list-group-item">Distribución: {{moto.distribucion}} </a>
                    <a class="list-group-item">Embrague: {{moto.embrague}} </a>
                    <a class="list-group-item">Fabricante: {{moto.fabricante}} </a>
                    <a class="list-group-item">Freno delantero: {{moto.frenoDelantero}} </a>
                    <a class="list-group-item">Freno trasero: {{moto.frenoTrasero}} </a>
                    <a class="list-group-item">Modelo: {{moto.modelo}} </a>
                    <a class="list-group-item">Neumático delantero: {{moto.neumaticoDelantero}} </a>
                    <a class="list-group-item">Neumático trasero: {{moto.neumaticoTrasero}} </a>
                    <a class="list-group-item">No pistones: {{moto.noPistones}} </a>
                    <a class="list-group-item">Par: {{moto.parMotor}} </a>
                    <a class="list-group-item">Periodo de comercialización: {{moto.periodoComercializacion}} </a>
                    <a class="list-group-item">Peso en marcha: {{moto.pesoMarcha}} </a>
                    <a class="list-group-item">Peso en seco: {{moto.pesoSeco}} </a>
                    <a class="list-group-item">Potencia máxima: {{moto.potenciaMaxima}} </a>
                    <a class="list-group-item">Recorrido delantero: {{moto.recorridoDelantero}} </a>
                    <a class="list-group-item">Recorrido trasero: {{moto.recorridoTrasero}} </a>
                    <a class="list-group-item">Refrigeración: {{moto.refrigeracion}} </a>
                    <a class="list-group-item">Reglajes delantero: {{moto.reglajesDelantero}} </a>
                    <a class="list-group-item">Reglajes trasero: {{moto.reglajesTrasero}} </a>
                    <a class="list-group-item">Suspención delantera: {{moto.suspencionDelantera}} </a>
                    <a class="list-group-item">Suspención trasera: {{moto.suspencionTrasera}} </a>
                    <a class="list-group-item">Valvulas ciliendro: {{moto.valvulasCilindro}} </a>
                    <img style="width: 300px; height: 300px;" src="{{moto.foto}}">
                </ng-template>
            </ul>
        </div>
    </div>
</div>