<!-- ========= Start Feature Area========= -->
<!-- feature-area start -->
<section class="feature-area">
    <div class="container">
        <div class="separator pt-115 pb-110">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="single-feature-item d-lg-flex align-items-center">
                        <div class="feature-img">
                            <img src="./assets/img/icon/tower.png" alt="feature-img">
                        </div>
                        <div class="feature-content">
                            <h4>DESTINATION</h4>
                            <p>We denounce with righteous more.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="single-feature-item d-lg-flex align-items-center">
                        <div class="feature-img">
                            <img src="./assets/img/icon/rate.png" alt="feature-img">
                        </div>
                        <div class="feature-content">
                            <h4>TOP PLACE</h4>
                            <p>We denounce with righteous more.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="single-feature-item d-lg-flex align-items-center">
                        <div class="feature-img">
                            <img src="./assets/img/icon/notebook.png" alt="feature-img">
                        </div>
                        <div class="feature-content">
                            <h4>BOOKING NOW</h4>
                            <p>We denounce with righteous more.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Feature Area -->
<!-- ========= Start Destination Area========= -->
<section class="destination-area pt-115 pb-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex align-items-center">
                <div class="destination-content">
                    <h2>TOP DESTINATION</h2>
                    <h5>EUROPE, PACKAGE SRARTED <span>$2500</span></h5>
                    <div class="destination-rating">
                        <ul>
                            <li><i class="icofont icofont-ui-rating"></i></li>
                            <li><i class="icofont icofont-ui-rating"></i></li>
                            <li><i class="icofont icofont-ui-rating"></i></li>
                            <li><i class="icofont icofont-ui-rating"></i></li>
                            <li><i class="icofont icofont-ui-rating"></i></li>
                        </ul>
                    </div>
                    <p>Since, 1995 We denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire.</p>
                    <div class="des-feature">
                        <ul>
                            <li><i class="icofont icofont-arrow-right"></i>5 Days, 4 Night</li>
                            <li><i class="icofont icofont-arrow-right"></i>5 Star Accommodations</li>
                            <li><i class="icofont icofont-arrow-right"></i>Handpicked Hotels</li>
                            <li><i class="icofont icofont-arrow-right"></i>Given Transportation</li>
                        </ul>
                        <a class="btn-2 btn-des" href="#">POINTS OF INTEREST</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="destination-img">
                    <img src="./assets/img/service/destination.png" alt="destination-image">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Destination Area -->
<!-- ========= Start Blog Area========= -->
<section class="blog-area pt-110 ">
    <div class="container">
        <div class="section-title text-center pb-45">
            <h2>LATEST NEWS FROM BLOG</h2>
            <h4>EXPERIENCE FROM TRAVELERS</h4>
        </div>
        <div class="section-devider pb-80">
            <div class="row">
                <div class="col-lg-4">
                    <div class="single-blog-post mb-30">
                        <a href="#"><img src="./assets/img/blog/blog-1.jpg" alt="blog-image"></a>
                        <div class="single-blog-content">
                            <span class="blog-date">10 July 2017</span>
                            <a href="#">
                                <h4>What's Open in the Caribbean After Hurricanes Irma and Maria</h4>
                            </a>
                            <a class="read-more blog-btn" href="#">READ MORE
                                        <i class="icofont icofont-long-arrow-right"></i>
                                    </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-blog-post mb-30">
                        <a href="#"><img src="./assets/img/blog/blog-2.jpg" alt="blog-image"></a>
                        <div class="single-blog-content">
                            <span class="blog-date">20 June 2017 </span>
                            <a href="#">
                                <h4>First New louvre of the New Year: the Seabourn museum</h4>
                            </a>
                            <a class="read-more blog-btn" href="#">READ MORE
                                        <i class="icofont icofont-long-arrow-right"></i>
                                    </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-blog-post mb-30">
                        <a href="#"><img src="./assets/img/blog/blog-3.jpg" alt="blog-image"></a>
                        <div class="single-blog-content">
                            <span class="blog-date">10 May 2017 </span>
                            <a href="#">
                                <h4>Avalon Southeast Asia: A World of Difference site</h4>
                            </a>
                            <a class="read-more blog-btn" href="#">READ MORE
                                        <i class="icofont icofont-long-arrow-right"></i>
                                    </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>